body, html {
    height: 100%;
    margin: 0;
    background-color: #000000; /* This sets the background to a medium gray */
    color: #fff; /* Sets the text color to white */
    font-family: 'Arial', sans-serif; /* Optional: Sets a default font */
}

.container {
    background: transparent; /* Removes any background color */
    padding: 20px;
    border-radius: 15px;
}

#userQuery {
    border: 2px solid green;
}

.btn-primary {
    background-color: red;
    border-color: gold;
}

#response {
    background: rgba(255, 255, 255, 0.8); /* Slightly opaque white */
    color: black; /* Black text color for response */
    border: 2px dashed green;
}
.snowflake {
    background-image: url('/static/snowflake.svg'); /* Adjust the path as needed */
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px; /* You can adjust the size as desired */
    height: 48px;
    position: absolute; /* Ensure that the snowflakes can move freely */
    /* Add your animation properties here */
  }

  @keyframes snowfall {
    0% {
        transform: translateY(-100vh); /* Starting well above the viewport */
        opacity: 1;
    }
    100% {
        transform: translateY(100vh); /* Ending below the viewport */
        opacity: 0;
    }
}
#christmasCountdown {
    font-family: 'Tangerine', cursive; /* A more festive font style */
    color: #fff; /* White color text */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for contrast */
    border: 3px solid #ff0000; /* Solid red border */
    border-radius: 25px; /* Rounded corners for a softer look */
    padding: 15px;
    margin: 0 auto 20px; /* Centering the countdown and adding space below */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for a 3D effect */
    width: 80%; /* Adjust width as per your design */
    max-width: 600px; /* Maximum width */
}

#countdownTimer {
    font-size: 1.5rem; /* Larger font size for better readability */
    font-weight: bold; /* Bold for emphasis */
    letter-spacing: 0.1rem; /* Spacing for a premium look */
    background: rgba(255, 255, 255, 0.2); /* Slight white transparent overlay */
    color: #ff0000; /* Red color for the timer to pop out */
    margin-top: 10px; /* Space above the timer */
    padding: 10px;
    border-radius: 15px; /* Soft rounded corners for the timer box */
    width: 100%; /* Full width within the container */
    text-align: center; /* Center the text */
}